<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sufle</title>
    <link rel="stylesheet" href="tatli.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="#">Sufle</a></li>
            <li><a href="../Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../../Yemek/Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="../../Yemek/Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="../../Yemek/Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="../../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h2>Sufle</h2>
        <div class="ust">
            <div>
                <img src="../../Images/sufle.jpg" alt="Sufle" />
            </div>
            <div class="malzeme">
                <h3>Sufle Tarifi İçin Malzemeler</h3>
                <ul>
                    <li>
                        3 tane yumurta (yumurtalar büyükse 2 tane kullanabilirsiniz)
                    </li>
                    <li>
                        80g bitter çikolata
                    </li>
                    <li>
                        Yarım su bardağı un
                    </li>
                    <li>
                        50 g tereyağı
                    </li>
                    <li>
                        Yarım su bardağı şeker (biz çok tatlı sevmediğimiz için 3 yemek kaşığı kadar kullandık)
                    </li>
                    <li>
                        1 çimdik tuz
                    </li>
                </ul>

            </div>
        </div>

        <div>
            <h3>
                Sufle Tarifi Nasıl Yapılır?
            </h3>
            <ul style="list-style-type:decimal;">
                <li>
                    Çikolatalı sufle yapmaya başlamadan önce İlk olarak fırını 220 derecede çalıştırın.
                </li>
                <li>
                    Tereyağını teflon teflon tavada kısık ateşte erittikten sonra çikolatayı ekleyin ve  karıştırarak eritin. Eridikten sonra ocağı kapatarak unu ilave edin ve iyice karıştırın.
                </li>
                <li>
                    Ayrı bir kapta yumurta ve şekeri karışım beyazlayana kadar çırpın. Şeker tadının ön plana çıkması için tuzu ekleyip çırpın.
                </li>
                <li>
                    Çikolatalı harcı ilave ederek mikserle tekrar çırpın. Hamurumuz hazır.
                </li>
                <li>
                    Sufle kaplarınızı ya da ısıya dayanıklı küçük kaplarınız varsa içlerini yağlayarak hamurdan eşit şekilde hepsine paylaştırın. bu ölçülerle ben 3 kap sufle elde ettim ancak sizin kullandığınız kalıpların büyüklüğüne göre bu sayı değişecektir.
                </li>
                <li>
                    Daha önceden fansız çalıştırdığınız ve ısıttığınız  fırında 7-8 dakika da sufleniz hazır. Eğer kalıplarınız büyükse 8 küçükse 7 dakika pişirmenizi tavsiye ederim.
                </li>
                <li>
                    Fırından aldıktan sonra bir kaç dakika ilk sıcaklığının geçmesini bekleyin sonra ister tabağa çevirip ister kaseden yiyebilirsiniz.
                </li>
            </ul>
        </div>

        <p>
            <a href="https://www.nefisyemektarifleri.com/sufle-tarifi/" target="_blank" >Buraya</a> tıklayarak yapılış videosunu izleyebilirsiniz...
        </p>
    </div>

</body>
</html>