<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="#">Ana Sayfa</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../Tatli/Sufle/tatli.html">Sufle</a></li>
            <li><a href="../Tatli/Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../Yemek/Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="../Yemek/Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="../Yemek/Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h1>Yemek Tarifi Sayfası</h1>
        <p style="font-size: 22px;">
            Merhaba! Biz bu projemizde basit bir yemek tarifi sayfası yapmayı hedefledik. Örnek olarak en sevdiğimiz yemekleri ve tatlıları eklediğimiz bu projemize, istenildiği kadar tarif eklenebilir.
            Bu sayfayı yaparken html ve css de bulunan birçok ana kodu kullandık.
            Sayfalar arası geçişleri düzenleyerek tariflerimizi 'tatlı' ve 'yemek' olmak üzere 2 kategoriye ayırdık ve böylece son kullanıcılar için basit ve kullanışlı bir sayfa olmasını hedefledik.
            Bu doğrultuda yemeklerimizi fotoğraflı bir şekilde ekleyerek malzemeler bölümünde de listelemeden yararlandık ve ekstra bilgi için videoların linklerini de ekledik. 
            İletişim kısmında ise bilgilerimizi tablo şeklinde ekledik ve en sonda ise geri dönüş alabilmek için formlardan yararlandık.
        </p>

    </div>

</body>
</html>