<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kayseri yaglama</title>
    <link rel="stylesheet" href="kayseri.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../../Tatli/Sufle/tatli.html">Sufle</a></li>
            <li><a href="../../Tatli/Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="#">Kayseri yağlama</a></li>
            <li><a href="../Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="../../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h2>Kayseri yaglama</h2>
        <div class="ust">
            <div>
                <img src="../../Images/kayseri.jpg" alt="Kayseri yağlama" />
            </div>
            <div class="malzeme">
                <h3>
                    4-6 Kişilik Kayseri Yağlaması Tarifi İçin Malzemeler
                </h3>
                <ul>
                    <li>
                        1 su bardağı ılık su (200 ml)
                    </li>
                    <li>
                        1 su bardağı ılık süt (200 ml)
                    <li>
                        1 paket instant maya
                    </li>
                    <li>
                        1 tatlı kaşığı tuz
                    </li>
                    <li>
                        1 tatlı kaşığı şeker
                    </li>
                    <li>
                        2 yemek kaşığı sıvı yağ
                    </li>
                    <li>
                        5 su bardağı un
                    </li>
                </ul>

                <h3>
                    İç harcı için;
                </h3>
                <ul>
                    <li>
                        500 gr. kıyma
                    </li>
                    <li>
                        2 adet soğan
                    </li>
                    <li>
                        2 adet yeşil biber
                    </li>
                    <li>
                        2 adet kırmızı biber
                    </li>
                    <li>
                        2 adet domates
                    </li>
                    <li>
                        2 diş sarımsak
                    </li>
                    <li>
                        1 yemek kaşığı salça
                    </li>
                    <li>
                        1 yemek kaşığı tereyağı
                    </li>
                    <li>
                        1 çay bardağı zeytinyağı
                    </li>
                    <li>
                        1 çay bardağı su
                    </li>
                    <li>
                        1 tatlı kaşığı tuz
                    </li>
                    <li>
                        1 tatlı pul biber
                    </li>
                    <li>
                        1 çay kaşığı karabiber
                    </li>
                    <li>
                        1 çay kaşığı kimyon
                    </li>
                </ul>

            </div>
        </div>

        <div>
            <h3>
                Kayseri Yağlaması Tarifi Nasıl Yapılır?
            </h3>
            <ul style="list-style-type:decimal;">
                <li>
                    Şebit olarak da bilinen Kayseri yağlamasının hamuru için öncelikle yoğurma kabına un, maya, tuz ve şekeri alarak karıştıralım.
                </li>
                <li>
                    Üzerine süt, su ve sıvı yağı ekleyerek yumuşak kıvamlı bir hamur elde edinceye kadar yoğuralım.
                </li>
                <li>
                    Kıvam alan hamurumuzun üzerini streçleyip temiz bir bezle örterek 40 dakika kadar mayalanmaya bırakalım.
                </li>
                <li>
                    Kıymalı harç için yapışmayan tavaya kıymayı alalım ve kavuralım. Bu aşamada kıymayı ezerek karıştıralım.
                </li>
                <li>
                    Kıymanın rengi dönüp suyunu çektikten sonra üzerine zeytinyağı ve tereyağını ekleyerek tereyağı eriyinceye kadar kavuralım.
                </li>
                <li>
                    Doğranmış soğan, sarımsak, kırmızı ve yeşil biberi de malzemelerimizin üzerine ekleyelim, kavuralım.
                </li>
                <li>
                    Daha sonra salça, karabiber, kimyon, pul biber ve tuzu ekleyerek karıştıralım.
                </li>
                <li>
                    Kabuklarını soyarak doğradığımız domatesi de tavaya alalım, karıştırmaya devam edelim.
                </li>
                <li>
                    Son olarak sıcak suyu ilave edip, kıyma suyunu çekinceye kadar 8-10 dakika kısık ateşte pişirelim.
                </li>
                <li>
                    Mayalanan hamuru tezgaha alalım. Kenarlardan içe doğru toplayarak hamurun havasını alalım.
                </li>
                <li>
                    Toparladığımız hamuru 12 eşit parçaya bölelim ve her bir parçayı beze haline getirelim.
                </li>
                <li>
                    Bezelerimizin tamamını hazırladıktan sonra üzerlerinin beklerken kurumamaları için streç filmle örtelim
                </li>
                <li>
                    Ardından un serptiğimiz tezgahta bezeleri sırasıyla yaklaşık bir servis tabağı boyutuna gelinceye kadar açalım.
                </li>
                <li>
                    Hamuru açtıktan sonra fazla ununun dökülmesi için hafifçe sallayalım.
                </li>
                <li>
                    Ardından ısıttığımız yapışmaz tavaya hamuru yerleştirelim, orta ateşte sık sık çevirerek pişirmeye başlayalım.
                </li>
                <li>
                    Hazırladığımız lavaşı geniş bir tabağa alalım üzerine iç harcımızdan bir kaşık yardımıyla yerleştirerek her yerine gelecek şekilde yayalım.
                </li>
                <li>
                    Lavaşlarımızı bu şekilde aralarına kıymalı harç koyarak üst üste yerleştirelim. Kıymalı harcın tamamı bitinceye kadar bu şekilde lavaşlarımızı kat kat yerleştirmeye devam edelim.
                </li>
                <li>
                    Son olarak yağlılarımızın üzerine sarımsaklı veya sarımsaksız yoğurdu çırparak gezdirelim ve dilimleyerek servis edelim.
                </li>
            </ul>
        </div>

        <p>
            <a href="https://www.nefisyemektarifleri.com/video/kayseri-yaglamasi-tarifi/" target="_blank">Buraya</a> tıklayarak yapılış videosunu izleyebilirsiniz...
        </p>
    </div>

</body>
</html>