<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Krem Karamel</title>
    <link rel="stylesheet" href="karamel.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../Sufle/tatli.html">Sufle</a></li>
            <li><a href="#">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../../Yemek/Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="../../Yemek/Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="../../Yemek/Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="../../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h2>Krem Karamel</h2>
        <div class="ust">
            <div>
                <img src="../../Images/karamel.jpg" alt="Krem-Karamel" />
            </div>
            <div class="malzeme">
                <h3>
                    Krem Karamel Tarifi İçin Malzemeler
                </h3>
                <ul>
                    <li>
                        5 su bardağı süt (1 litre)
                    </li>
                    <li>
                        1 su bardağı toz şeker
                    </li>
                    <li>
                        6 adet yumurta
                    </li>
                    <li>
                        1 paket vanilya
                    </li>
                    <li>
                        ½ adet limon kabuğu
                    </li>
                </ul>

                <h3>
                    Karameli için:
                </h3>
                <ul>
                    <li>
                        1su bardağıtoz şeker
                    </li>
                    <li>
                        4-5yemek kaşığı su
                    </li>
                </ul>

            </div>
        </div>

        <div>
            <h3>
                Krem Karamel Tarifi Nasıl Yapılır?
            </h3>
            <ul style="list-style-type:decimal;">
                <li>
                    Öncelikle, toz şekeri geniş bir tavaya alın ve kenarlarından 4-5 yemek kaşığı su ile ıslatın ve karıştırmadan bırakın. Bir süre sonra şekerin renk almaya başladığını göreceksiniz. O zaman karıştırabilirsiniz.
                </li>
                <li>
                    Açık kahve rengine dönünce ocaktan alın. Tatlı kaselerinizi derin bir fırın tepsisine dizin. Her birinin tabanına birer kaşık karamel dökerek paylaştırın.
                </li>
                <li>
                    Karameli hızlıca kaselerin tabanına yayın ve donması için bir kenara koyun.
                </li>
                <li>
                    Bu sırada, geniş bir karıştırma kabında yumurtaları ve şekeri iyici köpürene kadar karıştırın. Vanilya ve limon kabuğu rendesini ilave ederek karıştırmaya devam edin.
                </li>
                <li>
                    Köpüren yumurtalara yavaş yavaş 1 litre sütü ilave ederek karıştırmaya devam edin. Karışımın üstündeki köpüklü tabakanın hepsini bir kepçe yardımıyla sıyırarak alın.
                </li>
                <li>
                    Karışımı karamelini koyduğunuz tatlı kaselerine eşit şekilde paylaştırın. Kapların yarısına gelecek kadar kaynamış suyu fırın tepsisine ekleyin. Arzu ederseniz tepsiyi fırına koyduktan sonra da suyunu ilave edebilirsiniz.
                </li>
                <li>
                    Tatlıları, önceden ısıtılmış 170 derece fırında yaklaşık 45-50 dakika, üzerleri hafifçe kızarana dek pişirin. Krem karamel hazır! Fırından çıkardığınız krem karameller oda sıcaklığına geldikten sonra üzerini streçleyerek buzdolabında en az 4 saat dinlendirin.
                </li>
                <li>
                    Krem karamel hazır! Dinlenmiş krem karamelin kenarlarını dikkatlice bir bıçak yardımıyla ayırdıktan sonra tabağa ters çevirerek servis yapın.
                </li>
                <li>
                    Çilek ya da frenk üzümü ile süsleyerek hoş bir sunum yapabilirsiniz. Afiyet olsun!
                </li>
            </ul>
        </div>

        <p>
            <a href="https://youtu.be/B1wp9KxN8OI" target="_blank">Buraya</a> tıklayarak yapılış videosunu izleyebilirsiniz...
        </p>
    </div>

</body>
</html>