<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>iletisim</title>
    <link href="iletisim.css" rel="stylesheet" />
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../Tatli/Sufle/tatli.html">Sufle</a></li>
            <li><a href="../Tatli/Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../Yemek/Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="../Yemek/Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="../Yemek/Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="#">İletişim</a>
    </div>

    <div class="content">

        <h2>İletişim</h2>
        
        <div>
            <table style="width:100%">
                <tr>
                    <th>İsim Soyisim</th>
                    <th>Bölüm</th>
                    <th>Öğrenci numarası</th>
                </tr>
                <tr>
                    <td>Berkay Veysel Ayköse</td>
                    <td>Bilgisayar Mühendisliği</td>
                    <td>21253804</td>
                </tr>
                <tr>
                    <td>Zeynep Acar</td>
                    <td>Bilgisayar Mühendisliği</td>
                    <td>21253075</td>
                </tr>
                <tr>
                    <td>Elif Nazli Bülbül</td>
                    <td>Bilgisayar Mühendisliği</td>
                    <td>21253080</td>
                </tr>
            </table>
        </div>
        
        <div class="form">
            <form action="#">
                <textarea rows="10" cols="40">Geri dönüşlerinizi yazınız...</textarea>
                <br>
                <input type="submit">
            </form>
        </div>

    </div>

    
</body>
</html>