body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #B7CAB4;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: black 1px solid;
}

.sidebar a {
    display: block;
    color: black;
     padding: 16px;
    text-decoration: none;
}

.sidebar a.home {
    background-color: #3e84e0;
    color: white;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

table, th, td {
    border: 1px solid black;
}

table tr th {
    background-color: #3e84e0;
    color: white;
}

table tr td {
    background-color: #fff8dc;
}

.form{
    margin:20px;
}
