<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mac and Cheese</title>
    <link rel="stylesheet" href="makarna.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../../Tatli/Sufle/tatli.html">Sufle</a></li>
            <li><a href="../../Tatli/Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="#">Mac and Chesse</a></li>
            <li><a href="../Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="../Lokum-Bonfile/et.html">Lokum Bonfile</a></li>
        </ul>
        <a href="../../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h2>Mac and Cheese</h2>
        <div class="ust">
            <div>
                <img src="../../Images/makarna.jpg" alt="Mac and Chesse" />
            </div>
            <div class="malzeme">
                <h3>
                    Mac'n'cheese Tarifi İçin Malzemeler
                </h3>
                <ul>
                    <li>
                        1 paket dirsek makarna (500 gr)
                    </li>
                    <li>
                        4 yemek kaşığı tereyağı
                    </li>
                    <li>
                        1 yemek kaşığı un
                    </li>
                    <li>
                        1 su bardağı süt
                    </li>
                    <li>
                        2 su bardağı cheddar peyniri
                    </li>
                    <li>
                        Yarım su bardağı parmesan peyniri
                    </li>
                    <li>
                        Yarım su bardağı ekmek kırıntısı
                    </li>

                </ul>


            </div>
        </div>

        <div>
            <h3>
                Mac'n'cheese Tarifi Nasıl Yapılır?
            </h3>
            <ul style="list-style-type:decimal;">
                <li>
                    Makarnayı bol suda haşlayın ama biraz diri kalsın çok yumuşamasın. Süzgece alın ama üzerine tekrardan su gezdirmeyin kendi haşlandığı su süzülsün yeterli.
                </li>
                <li>
                    Tencereye tereyağını alın, unu biraz yağ ile kavurun. Sütü ekleyin ve kaynamaya bırakın, tel çırpacakla sürekli çırpıp pütürlerini giderin.
                </li>
                <li>
                    Cheddar ve parmesan peyniri ekleyin, peynir eriyince makarnayı ekleyin ve iyice karıştırın.
                </li>
                <li>
                    Ocağı kısın tencerenin kapağını kapatın makarna peynir sosunu iyice içine çekince ocağı kapatın. İsterseniz bu aşamada servise geçebilirsiniz.
                </li>
                <li>
                    Eğer bu yemeği ana yemek yanına yapacaksanız en son bunu hazırlamanız lazım, çünkü sıcak yenmesi gerekiyor, soğudukça peyniri katılaşır.
                </li>
                <li>
                    Eğer bu tarifi ana yemek olarak sunacaksanız, bu aşamada pişmiş tavuk eti ve mantar katılıp karıştırılır.
                </li>
                <li>
                    Mac’n’cheese fırında da güzel oluyor, tencerede peynir ve makarnayı karıştırdıktan sonra borcama aktarın ve üzerine ekmek kırıntısı serpin fırına verin, 400 derece fırında üzeri hafif kızarıncaya kadar pişirin, ve servis edin. Afiyet olsun.
                </li>

            </ul>
        </div>

        <p>
            <a href="https://www.youtube.com/watch?v=PXmluupmIvQ" target="_blank">Buraya</a> tıklayarak yapılış videosunu izleyebilirsiniz...
        </p>

    </div>

</body>
</html>