<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lokum Bonfile</title>
    <link rel="stylesheet" href="et.css">
</head>
<body>

    <div class="sidebar">
        <a class="home" href="../../Home/index.html">Home</a>
        <a href="#">Tatlı</a>
        <ul>
            <li><a href="../../Tatli/Sufle/tatli.html">Sufle</a></li>
            <li><a href="../../Tatli/Karamel/karamel.html">Krem Karemel</a></li>
        </ul>
        <a href="#">Yemek</a>
        <ul>
            <li><a href="../Mac-and-Chesse/makarna.html">Mac and Chesse</a></li>
            <li><a href="../Kayseri-yaglama/kayseri.html">Kayseri yağlama</a></li>
            <li><a href="#">Lokum Bonfile</a></li>
        </ul>
        <a href="../../Iletisim/iletisim.html">İletişim</a>
    </div>

    <div class="content">
        <h2>Lokum Bonfile</h2>
        <div class="ust">
            <div>
                <img src="../../Images/et.jpg" alt="Lokum Bonfile" />
            </div>
            <div class="malzeme">
                <h3>
                    Ana Malzemeler
                </h3>
                <ul>
                    <li>
                        dana bonfile
                    </li>
                    <li>
                        400 gram (g)
                    </li>
                    <li>
                        1 tatlı kaşığı maldon tuz
                    </li>
                    <li>
                        1 tatlı kaşığı Karabiber
                    </li>
                </ul>

                <h3>
                    Kekikli Tereyağı
                </h3>
                <ul>
                    <li>
                        3 yemek kaşığı tereyağı
                    </li>
                    <li>
                        4 dal taze kekik yaprağı
                    </li>
                </ul>

                <h3>
                    Baharatlı Patates
                </h3>
                <ul>
                    <li>
                        3 adet elma dilimi şeklinde doğranmış patates
                    </li>
                    <li>
                        2 yemek kaşığı zeytinyağı
                    </li>
                    <li>
                        4 yemek kaşığı rendelenmiş parmesan peyniri
                    </li>
                    <li>
                        yarım tatlı kaşığı tuz
                    </li>
                    <li>
                        1 tatlı kaşığı sarımsak tozu
                    </li>
                    <li>
                        1 tatlı kaşığı taze kekik
                    </li>
                    <li>
                        1 tatlı kaşığı kırmızı toz biber
                    </li>
                    <li>
                        Yarım tatlı kaşığı Karabiber
                    </li>
                </ul>

            </div>
        </div>

        <div>
            <h3>
                Şefin Önerisi:
            </h3>
            <ul style="list-style-type:decimal;">
                <li>
                    İyi bir lokum bonfile pişirmenin en önemli püf noktası, etin iyi seçilmiş olmasıdır. Her zaman tercih ettiğiniz ve güvendiğiniz kasabınızdan, taze bir et satın alın.
                </li>
                <li>
                    Eğer var ise demir döküm tavada pişirin. Etiniz çok daha lezzetli olacaktır.
                </li>
                <li>
                    Etleri pişirirken kızgın tavada mühürlemeye ve fazla pişirip kurutmamaya özen gösterin. Eğer iyi pişmiş bir et seviyorsanız mühürleme işleminden sonra önceden ısıtılmış 180 derece fırında, üzerini pişirme kağıdı ile kapatarak 10 dakika kadar daha pişirin. Böylelikle etiniz kurumayacak ve içi iyi pişecektir.
                </li>
            </ul>
        </div>

        <p>
            <a href="https://www.youtube.com/watch?v=NDX2OCA8RkU&t=12s" target="_blank">Buraya</a> tıklayarak yapılış videosunu izleyebilirsiniz...
        </p>

    </div>

</body>
</html>